/* $primary-color: #15214B; */

// default settings

@import './default/default';


// components

@import './sections/header';

@import'./sections/about';

@import './sections/blog';

@import'./sections/footer';



// All pages basic styles


html {
    font-size: 24pt;
}

body {
    color: white;
    font-family: 'Allerta', sans-serif;
    max-width: $content-max-width;
}

@media only screen and (max-width: 500px){
body {min-width: 300px;}
}


