/* $primary-color: #15214B; */

// default settings

@import './default/default';


// components

@import './components/header';

@import'./components/content';

@import'./components/footer';

// All pages basic styles


html {
    font-size: 24pt;
}

body {
    color: white;
    font-family: 'Allerta', sans-serif;
   
}