/* default settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* components */
/* small devices (portrait tablet and large phones */
@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(../../images/header-background.jpg);
    background-repeat: no-repeat;
    display: flex;
    text-align: right;
    font-size: 1.2rem;
  }
  .header .large-heading {
    display: none;
  }
  .header .header-top {
    display: flex;
  }
  .header .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header .small-heading {
    margin-right: 25px;
  }
  .header .jim-illustration {
    margin-left: 25px;
    position: relative;
    width: 80%;
    left: 50px;
  }
  .header .nav {
    display: none;
  }
  .header h1 {
    margin-right: 15px;
    margin-top: 15px;
    font-size: 0.75em;
    color: white;
  }
  .header .home-icon {
    margin-top: 15px;
    margin-left: 15px;
    min-width: 50px;
  }
  .header .menu-icon {
    min-width: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: none;
  }
  .hamburger :before {
    display: none;
  }
  .hamburger :hover {
    display: none;
  }
  .dropdown-menu {
    text-align: center;
    color: white;
    list-style: none;
  }
  .dropdown-menu ul {
    display: flex;
    height: 40px;
  }
  .dropdown-menu ul .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #15214B;
    width: 20%;
    margin: 1px;
  }
  .dropdown-menu ul .dropdown li {
    display: flex;
    list-style: none;
    margin: 1px;
  }
  .dropdown-menu ul .dropdown li a {
    font-size: 0.5em;
    text-decoration: none;
    color: white;
    background: #15214B;
    padding: 1px;
  }
  .dropdown-menu ul .dropdown li a:visited {
    color: white;
  }
}
/* Larger Devices */
@media only screen and (min-width: 500px) {
  .header {
    text-overflow: none;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    display: flex;
    text-align: right;
    font-size: 2rem;
  }
  .header .header-top-span {
    width: 10%;
  }
  .header .large-heading {
    margin-right: 50px;
    color: white;
    font-size: 1.5rem;
  }
  .header .small-heading {
    display: none;
  }
  .header .header-top {
    display: flex;
    justify-content: space-between;
  }
  .header .header-bottom {
    display: flex;
    justify-content: space-between;
  }
  .header .jim-illustration {
    position: relative;
    bottom: 30px;
    margin-left: 50px;
    height: 100%;
  }
  .header .outside-nav {
    width: 100%;
    display: flex;
  }
  .header .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 0.5em;
    margin-top: 40px;
    margin-right: 50px;
  }
  .header .nav span {
    width: 30%;
  }
  .header .nav ul {
    white-space: nowrap;
    width: 75%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
  }
  .header .nav ul a {
    color: white;
    margin: 10px;
    text-decoration: none;
    width: 20%;
  }
  .header .nav ul :visited {
    color: white;
  }
  .header h1 {
    margin-right: 25px;
    margin-top: 15px;
    font-size: 0.75em;
  }
  .header .home-icon-container {
    width: 5%;
    position: relative;
    bottom: 5px;
    align-self: left;
  }
  .header .home-icon-container .home-icon {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 70px;
    width: 100%;
  }
  .header .menu-icon {
    display: none;
    width: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .dropdown-menu {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    height: 100%;
    height: 500px;
  }
  .header .jim-illustration {
    min-height: 300px;
    position: relative;
    left: 40px;
  }
  .header .large-heading {
    font-size: 2rem;
    margin-left: 50px;
  }
  .header .nav {
    font-size: 1rem;
  }
  .header .home-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
  }
  .header .home-icon-container .home-icon {
    min-width: 100%;
  }
}
/* small devices (portrait tablet and large phones */
@media only screen and (max-width: 500px) {
  /* styling for about section */
  .about {
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    color: #15214B;
  }
  .about p {
    font-size: 0.6rem;
    margin: 25px;
    text-align: center;
    text-align: left;
  }
  .about h3 {
    font-size: 0.8em;
    margin: 25px 0px 20px 5px;
  }
  .about h4 {
    margin: 25px 0px 25px 5px;
  }
  /* styling for resume card */
  .resume-card-container-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume-card-container-container .resume-card-container {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    min-width: 300px;
    height: 400px;
    background: #0A629C;
  }
  .resume-card-container-container .resume-card-container h4 {
    margin: 25px 0px 25px 5px;
  }
  .resume-card-container-container .resume-card-container .box {
    background: #15214B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px 25px 0px 0px;
    width: 95%;
    height: 80%;
  }
  .resume-card-container-container .resume-card-container .resume-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .resume-card-container-container .resume-card-container .resume-icon-container a {
    width: 50%;
    height: 50%;
  }
  .resume-card-container-container .resume-card-container .resume-icon {
    height: 100%;
    width: 100%;
    margin-left: 20px;
  }
  /*     styling for "card" component */
  .card-container {
    margin-top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 400px;
    background: #0A629C;
  }
  .card-container .box {
    background: #15214B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px 25px 0px 0px;
    width: 95%;
    height: 80%;
  }
  .card-container .box .resume-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .card-container .box .resume-icon {
    height: 50%;
    width: 50%;
    margin-left: 40px;
  }
  .card-container .box .list-heading {
    list-style: none;
  }
  .card-container .box .list {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 0.65em;
    line-height: 1.5em;
  }
  .card-container .box .sub-list {
    margin-left: 20px;
  }
  .qualifications-list {
    line-height: 2rem;
  }
  .introduction-text {
    line-height: 1.5rem;
  }
  .koala-image-container {
    display: flex;
    justify-content: center;
  }
  .koala-image-container .koala-image {
    width: 50%;
  }
  .qualifications-text {
    line-height: 1.6rem;
    font-size: 1.2em;
  }
  .introduction-text {
    line-height: 1.5rem;
  }
  .additional-text {
    display: none;
  }
  /* Personal Interests Section */
  .personal-details {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .personal-details .personal-interests {
    font-size: 0.4em;
    margin: 5px;
    text-align: center;
    width: 80%;
  }
  .personal-details .personal-interests h2 {
    color: #15214B;
    margin: 10px;
  }
  .personal-details .contact-details {
    text-align: center;
    margin: 25px;
  }
  .personal-details .interest-images-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
  }
  .personal-details .interest-images-container .interest-image {
    width: 33%;
    height: 90%;
    margin: 5px;
  }
  .personal-details .interest-images-container .interest-image img {
    height: 100px;
  }
}
/* Larger devices */
@media only screen and (min-width: 500px) {
  h3 {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  /* styling for "card" component on larger devices */
  .card-container {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 380px;
    background: #0A629C;
  }
  .card-container h4 {
    margin-bottom: 15px;
  }
  .card-container ul {
    margin-bottom: 15px;
  }
  .card-container .box {
    padding-bottom: 50px;
    background: #15214B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px 25px 0px 0px;
    width: 95%;
    height: 80%;
  }
  .card-container .box .list-heading {
    font-size: 1.4em;
    list-style: none;
  }
  .card-container .box .list {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 0.45em;
    line-height: 2em;
  }
  .card-container .box .sub-list {
    margin-left: 15px;
  }
  /*     styling for resume card on larger devices */
  .resume-card-container-container {
    width: 30%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume-card-container-container .resume-card-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    width: 5%;
    min-width: 250px;
    height: 200px;
    background: #0A629C;
  }
  .resume-card-container-container .resume-card-container h4 {
    margin: 12px 0px 12px 5px;
  }
  .resume-card-container-container .resume-card-container .box {
    background: #15214B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px 25px 0px 0px;
    width: 95%;
    height: 80%;
  }
  .resume-card-container-container .resume-card-container .resume-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .resume-card-container-container .resume-card-container .resume-icon-container a {
    width: 50%;
    height: 50%;
  }
  .resume-card-container-container .resume-card-container .resume-icon {
    height: 100%;
    width: 100%;
    margin-left: 10px;
  }
  .introduction-container {
    margin: 20px 35px;
    width: 50%;
  }
  .introduction-container .introduction-text {
    width: 100%;
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .all-cards {
    width: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .all-cards .card-container {
    max-width: 250px;
  }
  .card-container-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 100%;
  }
  .card-container-container .card-container {
    min-width: 300px;
    max-width: 500px;
  }
  .about {
    color: #15214B;
    margin: 25px;
    display: flex;
    flex-direction: column;
  }
  .about .about-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /*     styling for qualifications section on larger devices */
  .qualifications-container {
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .qualifications-container .qualifications-text {
    width: 100%;
    line-height: 1.4rem;
    font-size: 0.5em;
    margin-left: 5px;
  }
  .qualifications-container .qualifications-content {
    margin-left: 15px;
    max-width: 800px;
    width: 50%;
  }
  .qualifications-container .koala-image-container {
    width: 20%;
    min-width: 100px;
    display: flex;
    align-items: flex-end;
  }
  .qualifications-container .koala-image-container .koala-image {
    max-width: 100px;
  }
  /*     Styling for about section for larger devices */
  .about-bottom {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  /* Personal Interests Section */
  .personal-details {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .personal-details .personal-interests {
    font-size: 0.4em;
    margin: 5px;
    text-align: center;
    width: 80%;
  }
  .personal-details .personal-interests h2 {
    color: #15214B;
    margin: 10px;
  }
  .personal-details .contact-details {
    text-align: center;
    margin: 25px;
  }
  .personal-details .interest-images-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
  }
  .personal-details .interest-images-container .interest-image {
    width: 33%;
    height: 90%;
    margin: 5px;
  }
  .personal-details .interest-images-container .interest-image img {
    height: 100px;
  }
}
/* Extra Large devices */
@media only screen and (min-width: 1440px) {
  /* overall styling for about section on extra large devices */
  .about {
    margin: 0;
    padding: 0;
    color: #15214B;
  }
  .about h3 {
    line-height: 0.9em;
    font-size: 1.2rem;
    margin-bottom: 25px;
  }
  .about .all-cards {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .about .all-cards .card-container {
    max-width: 250px;
  }
  .about .qualifications-container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
    min-width: 750px;
  }
  .about .qualifications-container .qualifications-content {
    max-width: 1800px;
  }
  .about .qualifications-container .qualifications-content .qualifications-text {
    font-size: 0.6em;
    line-height: 1.8em;
  }
  .about .about-top {
    width: 100%;
  }
  .about .about-bottom {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  /* Styling for "cards" on extra large devices */
  .card-container {
    margin: 25px 25px 25px 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 380px;
    background: #0A629C;
  }
  .card-container h4 {
    margin-bottom: 15px;
  }
  .card-container ul {
    margin-bottom: 15px;
  }
  .card-container .box {
    padding-bottom: 50px;
    background: #15214B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px 25px 0px 0px;
    width: 95%;
    height: 80%;
  }
  .card-container .box .list-heading {
    font-size: 1.4em;
    list-style: none;
  }
  .card-container .box .list {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 0.45em;
    line-height: 2em;
  }
  .card-container .box .sub-list {
    margin-left: 15px;
  }
  /*     introduction section */
  .introduction-container {
    line-height: 1.5em;
    width: 60%;
  }
  .introduction-container .introduction-text {
    line-height: 2em;
  }
  /*     styling for resume card on extra large devices */
  .resume-card-container-container {
    width: 30%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume-card-container-container .resume-card-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    width: 5%;
    min-width: 250px;
    height: 200px;
    background: #0A629C;
  }
  .resume-card-container-container .resume-card-container h4 {
    margin: 12px 0px 12px 5px;
  }
  .resume-card-container-container .resume-card-container .box {
    background: #15214B;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px 25px 0px 0px;
    width: 95%;
    height: 80%;
  }
  .resume-card-container-container .resume-card-container .resume-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .resume-card-container-container .resume-card-container .resume-icon-container a {
    width: 50%;
    height: 50%;
  }
  .resume-card-container-container .resume-card-container .resume-icon {
    height: 100%;
    width: 100%;
    margin-left: 10px;
  }
}
h1 {
  color: #15214B;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2em;
  padding: 0px 15px 0px 15px;
}

/* small devices (portrait tablet and large phones */
@media only screen and (max-width: 500px) {
  .blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .blog-container .blog-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
    width: 85%;
    height: 300px;
    background: #0A629C;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 5px black;
  }
  .blog-container .blog-box .speech-bubble-icon {
    position: relative;
    bottom: -50px;
    right: -50px;
    width: 100px;
    float: left;
  }
  .blog-container .blog-box .blog-heading-container {
    display: flex;
    justify-content: center;
    height: 20%;
    margin-bottom: 50px;
  }
  .blog-container .blog-box .blog-heading-container .blog-heading {
    width: 80%;
    text-decoration: none;
  }
  .blog-container .blog-box .blog-heading-container .blog-post-date {
    width: 10%;
  }
  .blog-container .blog-box .start-comma {
    min-width: 50px;
    max-width: 50px;
    position: relative;
    left: -15px;
    top: -25px;
  }
  .blog-container .blog-box h5 {
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 0.5em;
  }
  .blog-container .blog-box .end-comma {
    min-width: 50px;
    max-width: 50px;
    position: relative;
    right: 50px;
    top: 50px;
  }
  .blog-container .blog-box p {
    font-size: small;
    height: 100%;
    margin: 15px 0px 0px 15px;
  }
  .blog-container .blog-box .float {
    float: right;
    height: 100%;
    display: flex;
    align-items: flex-end;
    shape-outside: circle(102px at 92px 139px);
  }
  .blog-container .blog-box .blog-image {
    width: 25vw;
    height: 15vh;
    border-top-left-radius: 100px;
    float: right;
  }
  .blog-container .blog-box .blog-content {
    display: flex;
    background: #15214B;
    resize: horizontal;
    width: 90%;
    height: 60%;
    margin-bottom: -50px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
  }
  .blog-container .blog-box .blog-content .blog-copy {
    color: white;
  }
  .blog-container a {
    text-decoration: none;
    color: white;
  }
}
/* Larger devices */
@media only screen and (min-width: 500px) {
  .blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    background: white;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .blog-container .blog-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
    width: 100%;
    max-width: 400px;
    height: 35vh;
    background: #0A629C;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 5px black;
  }
  .blog-container .blog-box .speech-bubble-icon {
    position: relative;
    bottom: -50px;
    right: -50px;
    width: 100px;
    float: left;
  }
  .blog-container .blog-box .blog-heading-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
    margin-bottom: 50px;
    width: 100%;
  }
  .blog-container .blog-box .blog-heading-container .blog-heading {
    width: 90%;
  }
  .blog-container .blog-box .blog-heading-container .blog-post-date {
    width: 10%;
  }
  .blog-container .blog-box .start-comma {
    min-width: 50px;
    max-width: 50px;
    position: relative;
    left: -15px;
    top: -25px;
  }
  .blog-container .blog-box h5 {
    font-size: 0.6em;
    text-align: left;
    margin-bottom: 15px;
    padding: 15px;
  }
  .blog-container .blog-box .end-comma {
    min-width: 50px;
    max-width: 50px;
    position: relative;
    right: 50px;
    top: 50px;
  }
  .blog-container .blog-box p {
    font-size: small;
    height: 100%;
    margin: 15px 0px 0px 15px;
  }
  .blog-container .blog-box .float {
    float: right;
    height: 100%;
    display: flex;
    align-items: flex-end;
    shape-outside: circle(97px at 89px 119px);
  }
  .blog-container .blog-box .blog-image {
    width: 25vw;
    height: 15vh;
    max-width: 120px;
    border-top-left-radius: 100px;
    float: right;
  }
  .blog-container .blog-box .blog-content {
    display: flex;
    background: #15214B;
    resize: horizontal;
    width: 90%;
    height: 60%;
    margin-bottom: -50px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
  }
  .blog-container .blog-box .blog-copy {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
/* Contact form */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0A629C;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  min-width: 360px;
  height: 100vh;
  border-radius: 50px 50px 0px 0px;
}
.form-container h1 {
  margin-bottom: 30px;
  color: white;
}
.form-container .form-box {
  background: #15214B;
  width: 70%;
  height: 80%;
  width: 95%;
  margin-bottom: 25px;
  border-radius: 50px 50px 0px 0px;
}
.form-container .form-box form {
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90%;
  width: 70vw;
  margin-top: 50px;
}
.form-container .form-box .form {
  height: 100%;
  width: 100%;
}
.form-container .form-box .first-name {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
.form-container .form-box .first-name label {
  width: 20%;
  margin-left: 25px;
  font-size: smallest;
}
.form-container .form-box #first-name {
  width: 60%;
  height: 50px;
  margin-left: 25px;
}
.form-container .form-box .last-name {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
.form-container .form-box .last-name label {
  width: 20%;
  margin-left: 25px;
  font-size: smallest;
}
.form-container .form-box .last-name #last-name {
  width: 60%;
  height: 50px;
  margin-left: 25px;
}
.form-container .form-box .email {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
.form-container .form-box .email label {
  width: 20%;
  margin-left: 25px;
  font-size: smallest;
}
.form-container .form-box .email #email {
  width: 60%;
  height: 50px;
  margin-left: 25px;
}
.form-container .form-box #message {
  width: 60%;
  height: 50px;
  margin-left: 25px;
  width: 90%;
  max-width: 900px;
}
.form-container .form-box #submit {
  font-family: "Allerta", sans-serif;
  font-size: 1em;
  color: white;
  border-radius: 15px;
  width: 100px;
  background: #0A629C;
  padding: 15px;
  margin: 15px;
}

/* Contact Info */
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.contact-details h2 {
  color: #15214B;
  font-size: smaller;
}

h1 {
  color: #15214B;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2em;
  padding: 0px 15px 0px 15px;
}

p {
  color: #15214B;
  font-size: 0.5em;
}

/* small devices (portrait tablet and large phones */
@media only screen and (max-width: 500px) {
  .gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .gallery-container .gallery-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    width: 100%;
    height: 300px;
    background: #0A629C;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 5px black;
  }
  .gallery-container .gallery-box .gallery-heading-container {
    display: flex;
    justify-content: center;
    height: 30%;
  }
  .gallery-container .gallery-box h5 {
    text-align: center;
    width: 100%;
    min-width: 230px;
    margin-bottom: 15px;
    padding: 15px;
  }
  .gallery-container .gallery-box p {
    font-size: small;
    height: 100%;
    margin: 15px 0px 0px 15px;
  }
  .gallery-container .gallery-box .gallery-image {
    width: 100%;
  }
  .gallery-container .gallery-box .gallery-content {
    display: flex;
    background: #15214B;
    resize: horizontal;
    width: 95%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
  }
}
/* Larger devices */
@media only screen and (min-width: 500px) {
  .gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .gallery-container .gallery-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
    width: 100%;
    max-width: 600px;
    height: 400px;
    background: #0A629C;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 5px black;
  }
  .gallery-container .gallery-box .gallery-heading-container {
    display: flex;
    justify-content: center;
    height: 30%;
  }
  .gallery-container .gallery-box h5 {
    text-align: center;
    width: 100%;
    min-width: 300px;
    margin-bottom: 15px;
    padding: 15px;
  }
  .gallery-container .gallery-box h5 .projects-heading {
    overflow: hidden;
  }
  .gallery-container .gallery-box p {
    font-size: small;
    height: 100%;
    margin: 15px 0px 0px 15px;
  }
  .gallery-container .gallery-box .gallery-image {
    width: 100%;
    height: 100%;
  }
  .gallery-container .gallery-box .gallery-content {
    display: flex;
    background: #15214B;
    resize: horizontal;
    width: 95%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
  }
}
h1 {
  color: #15214B;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2em;
  padding: 0px 15px 0px 15px;
}

p {
  color: #15214B;
  font-size: 0.5em;
}

/* small devices (portrait tablet and large phones */
@media only screen and (max-width: 500px) {
  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .projects-container .projects-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    width: 100%;
    height: 300px;
    background: #0A629C;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 5px black;
  }
  .projects-container .projects-box .projects-heading-container {
    display: flex;
    justify-content: center;
    height: 30%;
  }
  .projects-container .projects-box h5 {
    text-align: center;
    width: 100%;
    min-width: 230px;
    margin-bottom: 15px;
    padding: 15px;
  }
  .projects-container .projects-box p {
    font-size: small;
    height: 100%;
    margin: 15px 0px 0px 15px;
  }
  .projects-container .projects-box .projects-image {
    width: 100%;
  }
  .projects-container .projects-box .projects-content {
    display: flex;
    background: #15214B;
    resize: horizontal;
    width: 95%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
  }
  .projects-text-container {
    width: 90%;
    height: 400px;
    overflow: scroll;
  }
  .projects-text-container h5 {
    color: #3297B7;
    margin-bottom: 25px;
  }
}
/* Larger devices */
@media only screen and (min-width: 500px) {
  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .projects-container .projects-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    background: #0A629C;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 5px 5px black;
  }
  .projects-container .projects-box .projects-heading-container {
    display: flex;
    justify-content: center;
    height: 30%;
  }
  .projects-container .projects-box h5 {
    text-align: center;
    width: 100%;
    min-width: 300px;
    margin-bottom: 15px;
    padding: 15px;
  }
  .projects-container .projects-box h5 .projects-heading {
    overflow: hidden;
  }
  .projects-container .projects-box p {
    font-size: small;
    height: 100%;
    margin: 15px 0px 0px 15px;
  }
  .projects-container .projects-box .projects-image {
    width: 100%;
    height: 100%;
  }
  .projects-container .projects-box .projects-content {
    display: flex;
    background: #15214B;
    resize: horizontal;
    width: 95%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
  }
  .projects-text-container {
    min-width: 500px;
    margin-left: 25px;
    width: 60%;
    max-height: 35vh;
    overflow: scroll;
  }
  .projects-text-container h5 {
    color: #3297B7;
    margin-bottom: 25px;
  }
}
/* small devices (portrait tablet and large phones */
@media only screen and (max-width: 500px) {
  footer {
    background: #15214B;
    height: 160px;
    width: 100%;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
  }
  footer .socials-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  footer a {
    width: 100%;
    margin: 5px;
  }
  footer img {
    width: 100%;
  }
  footer .footer-text {
    font-size: 0.5em;
    text-align: center;
    color: #3297B7;
  }
}
/* Larger Devices */
@media only screen and (min-width: 500px) {
  footer {
    background: #15214B;
    height: 160px;
    width: 100%;
  }
  footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 160px;
  }
  footer .socials-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  footer a {
    width: 100%;
    margin: 5px;
  }
  footer img {
    width: 100%;
    max-width: 100px;
  }
  footer .footer-text {
    width: 50%;
    font-size: 0.7em;
    text-align: center;
    color: #3297B7;
  }
}
/* Extra Large Devices */
@media only screen and (min-width: 1440px) {
  footer .footer-text {
    font-size: 0.9rem;
  }
}
/* All pages basic styles */
html {
  font-size: 24pt;
}

body {
  color: white;
  font-family: "Allerta", sans-serif;
  max-width: 1920px;
}

@media only screen and (max-width: 500px) {
  body {
    min-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */